/Debug/
/Release/
/Drivers/
/Middlewares/
/Startup/
*.ld
.cproject
.mxproject
.project
.settings/

Inc/stm32*
!Inc/stm32f1xx_it.h

Src/stm32*
!Src/stm32f1xx_it.c

Src/sys*
Inc/sys*

DUMRON.elf.*
DUMRON.txt
progflash.sh


