/Debug/
/Drivers/
/Middlewares/
/Startup/
*.ld
.cproject
.mxproject
.project
.settings/

Inc/stm32*
Inc/stm32*
Inc/usart.h
Inc/adc.h
Inc/gpio.h
Inc/spi.h
Inc/tim.h

Src/stm32*
Src/sys*
Src/adc.c
Src/gpio.c
Src/usart.c
Src/spi.c
Src/tim.c

DUMRON.ioc
DUMRON.txt
